.footer {
  height: 200px;
  width: 100%;
  background: url('../img/bg-footer.png');
  position: fixed;
  bottom: 0;

  @media screen and (max-width: 770px) {
    height: 150px;
  }

  @media screen and (max-width: 420px) {
    height: 100px;
  }
}
